apiKey.json
__pycache__
__pycache__/autoCorrect.cpython-36.pyc
__pycache__/main.cpython-36.pyc
__pycache__/skyWriting.cpython-36.pyc
__pycache__/textGetter.cpython-36.pyc
.vscode
.vscode/settings.json
env