<!--HEADER-->
<header>
        <link rel="stylesheet" href="static/index.css">
  <div class="container">
    
    <div class="row">
      <div class="twelve columns">
        <nav>
          <ul>
          </ul>
        </nav>  
      </div> 
    </div>

    <div class="row">    
      <div class="twelve columns">
        <h1> VIRTUAL WRITING </h1>
        <h4></h4>
      </div>
    </div>
    
    <section class="services">
      <div class="row">
        <div class="twelve columns">
        </div>
      </div>
     
        <div class="one-half column">
          <a href="/AR">
            <h4>Augmented Reality</h4>
            <span class="fa fa-leaf"></span>
            <p>What you write in air is displayed to you using Augmented Reality and saved.</p>
            <p> s to stop, c to continue and r to save</p>
          </a>
        </div>
      </div><!--end of .row-->
    </section>
  </div><!--end of .container-->
</header>

<!--ABOUT-->

        <div class="aboutSec">
          <div class="row">
            <div class="twelve columns">
              <center><h3>By</h3></center>
            </div>
          </div><!--end of .row-->
          <div class="row bottom">
            <div class="two-thirds column">
              <h4>Shailesh Kumar Sharma 1RV18CS149</h4>
              <h4>Shaurya Gupta         1RV18CS150 </h4>
            </div>
          </div><!--end of .row-->
        </div><!--end of .container-->
      
